SECRET_KEY=pcBh6Y0cT7bSEFoYOm1g3MmqY_m8H8b52hC8Cp62DT-k2Aw-KbZlwLuwsaNf8l2Rb4w
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL
DB_NAME=voice_task
DB_USER=postgres
DB_PASSWORD=Nakul@123
DB_HOST=localhost
DB_PORT=5432

# Gemini API — get free key at aistudio.google.com
GEMINI_API_KEY=AIzaSyDDZDO4979N3UaVei0by1PEN1H2deF8tdg
